<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:MusicPlayer.properties"/>

    <!-- тут у нас scope Singleton так как Spring его использует по умолчанию -->
    <bean id="musicBean"
          class="practice.springcourse.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>

    <bean id="musicBean2"
          class="practice.springcourse.RockMusic"
          scope="prototype"
          init-method="doMyInitPrototype"
          destroy-method="doMyDestroyPrototype">
    </bean>

</beans>